@import url('https://fonts.googleapis.com/css2?family=Arsenal&family=Figtree:wght@500&family=Oswald:wght@600&display=swap');

* {
    padding: 0;
    margin: 0;
    color: black;
}

.user {
    color: black;
    width: 60px;
    height: 60px;
    margin-right: 65px;
    margin-top: 50px;
    border: grey;
    box-shadow: 0px 1px 2px ;
    border-radius: 50%;
    margin-left: 90%;
    margin-top: -3%;
    display: flex;
}

.logo {

    margin-left: 60px;
    margin-top: 20px;

}

.header-icon {
    display: flex;
    margin-left: -205%;
    margin-top: 35%;
}

.chat, .bell, .cash {
    margin: 5px;
}


.presentation h1 {
    font-weight: 900;
    font-family: 'Figtree', sans-serif;
    font-size: 65px;
    margin-left: 5%;
    margin-top: 8%;
    
}

.presentation p {
    font-size: 20px;
    margin-left: 5%;
    font-family: 'Figtree', sans-serif;
    font-weight: 300;
}

.presentation img {
    width: 300px;
    height: 500px;
    object-fit: cover;
    margin-left: 70%;
    margin-top: -23%;
    margin-bottom: 10%;
    border-radius: 2%;
}

.presentation span {
    color: #17a2b8;
}

.presentation input {
    width: 400px;
    padding: 5px;
    margin-left: 10%;
    margin-top: 2%; 
    
}

.result-box ul {
    border-top: 1px solid #999;
    padding: 15px 10px;
    width: 394px;
    margin-left: 10%;
    box-shadow: 0px 1px 1px grey;
}

.result-box ul li {
    list-style: none;
    border-radius: 3px;
    padding: 15px 10px;
    cursor: pointer;
    font-family: 'Figtree', sans-serif;
    
}

.result-box ul li:hover {
    background-color: #e9f3ff;
}

.text {
    margin-top: 10%;
}


.card-container {
    position: relative;
    display: inline-block;
}

.card {
    width: 700px;
    height: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    left: 35%;
    display: flex;
    align-items: center;

}

.card img {
    width: 30%;
    height: 85%;
    object-fit: cover;
    margin-left: 2%;
    border-radius: 5px;
}

.card h1 {
    display: inline-block;
    margin-bottom: 20%;
    margin-left: 2%;
    font-size: 25px;
}

.hover-info {
    display: none;
    position: absolute;
    top: 0;
    left: 140%;
    width: 300px;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border-radius: 5px;
}

.card-container:hover .hover-info {
    display: block;

}