@import url('https://fonts.googleapis.com/css2?family=Arsenal&family=Figtree:wght@500&family=Oswald:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arsenal&family=Figtree:wght@300;500&family=Kanit&family=Oswald:wght@600&display=swap');

* {
    padding: 0;
    margin: 0;
    color: black;
}

#user {
    color: black;
    width: 60px;
    height: 60px;
    position: absolute; 
    left: 90%; 
    top: 2%;
    border: grey;
    box-shadow: 0px 1px 2px ;
    border-radius: 50%;
    object-fit: cover;
    
}

.menu-wrap {
    position: relative;
    top: 90%;
    left: 75%;
    width: 250px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s;
    z-index: 999;
}

.menu-wrap.open-menu {
    max-height: 400px;
    right: 0;
    
}

.menu {
    padding: 20px;
    margin: 10px;
    box-shadow: 1px 1px 2px  grey;
    background-color: #fff;
    border-radius: 5px;
}

.links {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    margin: 20;
}

.links p {
    width: 100%;
    font-size: 17px;
    font-weight: bold;
    font-family: 'Figtree', sans-serif;
}

.links img {
    padding: 8px;
    margin-right: 8px;
}

.links span {
    font-weight: bold;
    font-size: 20px;
    transition: transform 0.5s;
}



.links:hover  span{
    transform: translateX(5px);
}

.links:hover  p{
    transform: translateX(5px);   
}

.logo {
    margin-left: 60px;
    margin-top: 20px;
}

.header-icon {
    display: flex;
    left: 80%;
    top: 5%;
    position: absolute;
    
}

.chat, .bell, .cash {
    margin: 5px;
}


.presentation h1 {
    font-weight: 900;
    font-family: 'Figtree', sans-serif;
    font-size: 65px;
    position: absolute;
    left: 5%;
    top: 25%;
    
}

.presentation p {
    font-size: 20px;
    position: absolute;
    left: 7%;
    top: 55%;
    font-family: 'Figtree', sans-serif;
    font-weight: 300;
}

.presentation img {
    width: 400px;
    height: 500px;
    object-fit: cover;
    position: absolute;
    left: 65%;
    top: 23%;
    bottom: 10%;
    border-radius: 2%;
}

.presentation span {
    color: #17a2b8;
}

.langs select {
    width: 400px;
    padding: 5px;
    position: absolute;
    left: 10%;
    top: 70%; 
    border: 1px solid;
    
}

.result-box {
    max-height: 250px;
    
}


.result-box ul {
    border-top: 1px solid #999;
    padding: 15px 10px;
    width: 394px;
    margin-left: 10%;
    box-shadow: 0px 1px px grey;
}

.result-box ul li {
    list-style: none;
    border-radius: 3px;
    padding: 15px 10px;
    cursor: pointer;
    font-family: 'Figtree', sans-serif;
    
}

.result-box ul li:hover {
    background-color: #e9f3ff;
}

.text {
    margin-top: 10%;
}

.filter {
    width: 1300px;
    box-sizing: border-box;
    box-shadow: 0px 0px 2px  gray;
    display: flex;
    margin-left: 1.5%;
    position: absolute;
    top: 120%;

}

#filter-container {
    margin-bottom: 20px;

}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}


.card-container {
    position: absolute;
    flex-direction: column;
    display: flex;
    top: 140%;
}

.card {
    width: 700px;
    height: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    left: 35%;
    flex-direction: column;
    align-items: center;
}

.card img {
    width: 30%;
    height: 85%;
    object-fit: cover;
    left: 2%;
    border-radius: 5px;
    top: 8%;
}

.card h1 {
    display: inline-block;
    top: 5%;
    left: 35%;
    font-size: 25px;
}

.card p {
    display: inline-block;
    top: 30%;
    left: 35%;
}

.card h3 {
    position: absolute;
    top: 15%;
    left: 90%;
    font-weight: 200;
}

.card .star {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 75%;
    top: 15%;
}   

.card .star-av {
    position: absolute;
    top: 16%;
    left: 78%;
    font-size: 15px;
}

.hover-info {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 140%;
    width: 300px;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border-radius: 5px;
    transition: opacity 0.3s, visibility 0.3s;
}

iframe {
    width: 300px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0px;
    border-radius: 5px;
    
}

.card-container:hover .hover-info {
    opacity: 1;
    visibility: visible;
    
}

.filter {
    padding: 40px;
    justify-content: space-around;
}

.category {
    position: absolute;
    left: 1%;
    padding: 10px;
    top: 17%;
    width: 150px;
    font-size: 17px;
    font-family: 'Kanit', sans-serif;
}

.country {
    position: absolute;
    left: 13%;
    padding: 10px;
    top: 17%;
    width: 250px;
    font-size: 17px;
    font-family: 'Kanit', sans-serif;
}

.location {
    position: absolute;
    left: 32.7%;
    padding: 10px;
    top: 17%;
    width: 250px;
    font-size: 17px;
    font-family: 'Kanit', sans-serif;
}


.busca {
    width: 560px;
    padding: 12px;
    position: absolute;
    left: 53%;
    top: 17%;
    position: absolute;
    font-size: 15px;
    font-family: 'Kanit', sans-serif;
}




main {
    height: 270vh;
  }
  
  .footer {
    background-color: #fff;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
    letter-spacing: 1px;
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 30vh; 
    flex-shrink: 0;
    left: 0;
    
  }
  
  
  #footer-copyright {
    display: flex;
    justify-content: center;
    background-color: #ffffff; 
    font-size: 1.4;
    padding: 0.1rem;
    font-weight: 90;
    color: grey;   
    font-family: 'Kanit', sans-serif;
  }
  